<div class="flex flex-col w-full h-screen bg-slate-200">
    <div class="flex flex-row bg-black p-14">
      <h1 class="text-6xl font-bold text-white" >
        My Training</h1>
    </div>
    <div class="flex flex-row bg-black w-full pl-14  space-x-20 text-2xl font-semibold ">
        <label class="hover:border-b-8 hover:pb-3 pb-5 duration-200">All Training</label>
        <label class="hover:border-b-8 hover:pb-3 pb-5 duration-200">My tarining</label>
        <label class="hover:border-b-8 hover:pb-3 pb-5 duration-200">Matrix</label>
        <label class="hover:border-b-8 hover:pb-3 pb-5 duration-200">Results</label>
    </div>
</div>
