<div class="flex flex-col w-12/12 mx-auto  bg-white rounded-xl shadow-2xl    ">
    <div class="flex flex-row justify-center ">
       <label for="">
        Mixing Batch Card
       </label> 
    </div>
    <div class="flex flex-row bg-black space-x-3 px-2 text-sm w-12/12 pt-2">
        <div class="flex flex-row mr-4 w-2/12 "><label for="">Date</label></div>
        <div class="flex flex-row w-2/12"><label for="">Recipe</label></div>
        <div class="flex flex-row w-2/12"><label for="">Weight</label></div>
        <div class="flex flex-row 4/12 "><label for="">Mixed by</label></div>
        <div class="flex flex-row 2/12"><label for="">Signature</label></div>
    </div>
    <div class="flex flex-row text-sm w-full  py-3 space-x-3">
        <div class="flex flex-row w-2/12 ml-1 "><label for="">2/06/24</label></div>
        <div class="flex flex-row w-2/12 "><label for="">sweet</label></div>
        <div class="flex flex-row w-2/12"><label for="">50kg</label></div>
        <div class="flex flex-row w-4/12 "><label for="">Kuda Moyo</label></div>
        <div class="flex flex-row w-2/12"><label for="">6</label></div>
    </div>
        <div class="flex flex-row space-x-3  py-3 text-sm  border-t-2 justify-start">
            <div class="flex flex-row w-2/12 ml-1"><label for="">2/06/24</label></div>
            <div class="flex flex-row w-2/12"><label for="">Bread</label></div>
            <div class="flex flex-row w-2/12"><label for="">50kg</label></div>
            <div class="flex flex-row w-4/12"><label for="">Nigel Muti</label></div>
            <div class="flex flex-row">
                
            </div>
            <img class="w-2 h-4" src="" alt="">
        </div>
</div>
