<div class=" flex flex-col w-full pt-12 items-center  space-y-2 border rounded-xl pb-1  bg-white mt-16 relative ">
    <div class="flex flex-row w-full justify-center mt-1  ">
        <img 
        class="rounded-full h-28 w-28 absolute bottom-[60px] border-blue-600 border-4"
        src="/assets/images/1760555905.webp" alt="">
    </div>        
    <label class="text-black font-semibold">Munashe.B Kambaranda</label>
    <label class="text-black font-semibold">Sales person</label>
          
    </div>
    <div class="flex flex-col w-full rounded-xl bg-white mt-4 h-screen p-6">
        Drop zone page
    </div>
<div class="flex flex-row"></div>

