<div class="flex flex-row w-full bg-gray-500 relative h-[400px]">
    <!-- btn -->
    <div class="flex flex-row absolute w-full justify-between bottom-24 px-3  ">
        <svg
        class="h-20 w-20"
        height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00512" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.024"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#2D2D2D60; " d="M256,0C114.608,0,0,114.608,0,256c0,141.376,114.608,256,256,256s256-114.624,256-256 C512,114.608,397.392,0,256,0z"></path> <g style="opacity:0.2;"> <polygon points="230.656,111.936 394.016,272 230.656,432.064 181.856,382.096 294.208,272 181.856,161.904 "></polygon> </g> <polygon style="fill:#FFFFFF;" points="214.656,95.936 378.016,256 214.656,416.064 165.856,366.096 278.208,256 165.856,145.904 "></polygon> </g></svg>
        <svg 
        class="h-20 w-20 "
        height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00512"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.024"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#2d2d2d60; " d="M256,0C114.608,0,0,114.608,0,256c0,141.376,114.608,256,256,256s256-114.624,256-256 C512,114.608,397.392,0,256,0z"></path> <g style="opacity:0.2;"> <polygon points="230.656,111.936 394.016,272 230.656,432.064 181.856,382.096 294.208,272 181.856,161.904 "></polygon> </g> <polygon style="fill:#FFFFFF;" points="214.656,95.936 378.016,256 214.656,416.064 165.856,366.096 278.208,256 165.856,145.904 "></polygon> </g></svg>   
    </div>    
   <!-- card -->
    <div 
    style="background-image: url(assets/images/abstract-01.jpg) "
    class="flex flex-row w-full ">
        <img 
        class="w-8/12 "
        src="assets/images/animated cleaners.webp" alt="">
        <div class="flex flex-col 4/12 m-auto text-white text-center space-y-8">
            <h1 class="font-light text-xl p-1 border-b-2 w-5/12 mx-auto border-gray-300">Lorem ipsum dolor sit</h1>
            <p class="mx-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis perspiciatis sed deserunt repellat nemo odit tempora illo, laboriosam autem quibusdam ut ex veritatis quidem.</p>
        </div>
    </div>
</div>
