<div class="flex flex-col bg-slate-200 h-screen p-6">
    <div class="mockup-phone ">
        <div class="camera"></div>
        <div class="display">
          <div class="artboard artboard-demo phone-1">
            <!-- background -->
            <div 
            class="h-screen w-full opacity-80 bg-cover bg-no-repeat "
            style="background-image: url(assets/images/business-bg.jpg)">
            <!-- image -->
            <div class="items-center pt-[150px] rounded-full flex flex-col space-y-2">
              <img 
              class="rounded-full border-white border-4 h-40 w-40 "
              src="assets/images/kendrick-feature.jpg" alt="">
              <!-- TXT -->
              <div class="flex flex-col rounded-xl bg-white/80 p-1 items-center">
                <label class="text-black font-extrabold text-2xl ">
                  Kendrick Lamar
                </label>
                <label class="text-black font-semibold text-lg ">
                  Lyricist
                </label> 
              </div>
              <div class="flex flex-col  rounded-xl bg-white/90 p-1 w-10/12  text-black">
                <div class="flex flex-row  ">
                  <label class="font-bold w-3/12">ID-NO</label>
                  <label class="w-5">:</label>
                  <label class="text-red-500 font-semibold ">63-2214702 S 38</label>
                </div>
                <div class="flex flex-row ">
                  <label class="font-bold w-3/12">EMAIL</label>
                  <label class="w-5">:</label>
                  <label class="text-black font-semibold">kendrick</label>
                </div>
                <div class="flex flex-row ">
                  <label class="font-bold w-3/12">PHONE</label>
                  <label class="w-5">:</label>
                  <label class="text-black font-semibold">63-2214702 S 38</label>
                </div>
                <div class="flex flex-row ">
                  <label class="font-bold w-3/12">DATE</label>
                  <label class="w-5">:</label>
                  <label class="text-black font-semibold">63-2214702 S 38</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
</div>

