<div class="flex flex-row bg-white w-full p-12 ">
    <div class="flex flex-row w-full ">
      <h1 class="bg-black rounded-full h-24 p-6 text-4xl font-bold text-white">
        DC
      </h1>
      <div class="flex flex-col w-full space-y-8 ml-10">
        <h1 class="font-bold text-4xl text-black">
            Welcome, Daniel
        </h1>
        <h1 class="font-semibold text-2xl text-black">
            Your all-in-one workout tracking app 
        </h1>
      </div>
      
    </div>
</div>
