:host {
    display: block;
    width: 100%;
    overflow-x: hidden;
  }
  
  .ml-64 {
    margin-left: 16rem;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    scrollbar-width: none;
  }
  
  .course-section {
    border-bottom: 1px solid #9b9c9e;
    padding-bottom: 1rem;
  }