<div class="flex flex-col h-screen  bg-slate-200 ">
    <div class="flex flex-col md:w-9/12 rounded-xl bg-white  md:m-auto shadow-lg space-y-10">
        <!-- header n search-input -->
        <div class="flex md:flex-row w-full items-center p-4 px-10 flex-col space-y-5">
            <div class="flex flex-row w-6/12">
                <h1 class="font-bold md:text-2xl text-black text-xl text-center">Registered Users</h1>
            </div>
            <div class="flex flex-row w-6/12 justify-center">
              <div class="flex p-3 border border-black ">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"  
                fill="currentColor"
                class="h-5 w-5 opacity-70 ">
                <path
                  fill-rule="evenodd"
                  d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                  clip-rule="evenodd" />
              </svg>
              </div>
                <label class="input input-bordered border-black rounded-none flex items-center gap-2 bg-white w-56">
                    <input type="text" class="grow " placeholder="Search" />
                  </label>
            </div>
        </div>
        <!-- user-info -->
         <div class="grid md:grid-cols-3 gap-y-3 gap-x-1 w-full md:px-8 grid-cols-1 pb-5 px-2">
            <!-- 0.1 -->
             @for (user of users; track $index) {
              <app-user-card
                [user]="user"
                
            ></app-user-card>
             }            
         </div>
         
    </div>
</div>

 