<div class="flex h-screen bg-gray-50">
    <!-- Left Side (35% width) -->
    <div 
      style="background-image: url('assets/images/360_F_1308979487_oKuBbL0c6VRzB7BorB3dOIJ6qdPqnV5J.jpg');"
      class="w-1/3 h-full bg-cover rounded-r-xl bg-center bg-no-repeat flex items-center justify-center">
      <div class="text-center p-6 bg-black bg-opacity-50 rounded-lg">
        <h2 class="text-3xl font-bold mb-2 text-white">GreenClean Academy</h2>
        <p class="text-lg text-white">Waste Management Certification Program</p>
      </div>
    </div>
  
    <!-- Right Side (Form) -->
     
    <div class="flex-1 p-8 flex flex-col items-center justify-center overflow-hidden">
      <form class="w-full max-w-xl" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="mb-6 text-center">
          <h1 class="text-md font-semibold text-green-600">Sheq Groups</h1>
          <h2 class="text-3xl font-bold text-gray-800 mt-1 mb-2">Login to Safety Academy</h2>
          <p class="text-gray-600">Enter your credentials to access your account</p>
        </div>
  
        <!-- Email and Password -->
        <div class="space-y-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
          </div>
        </div>
  
        <!-- Display Login Error -->
        <div *ngIf="loginError" class="text-red-500 text-sm mb-4">{{ loginError }}</div>
  
        <!-- Submit Button -->
        <div class="flex items-center mt-6 justify-between">
          <button 
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
            type="submit"
            [disabled]="loading">
            <span *ngIf="!loading">Sign In</span>
            <span *ngIf="loading">Loading...</span>
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
      <div class="mt-4 text-center">
        <span>Don't have an account?</span>
        <a (click)="navigateTo('CreateAccount')" class="ml-1 text-green-500 hover:text-green-800 cursor-pointer underline">Create account</a>
      </div>
    </div>
</div>

