<div class="flex flex-col bg-white md:w-11/12 w-full md:mx-auto mt-16 md:rounded-xl  ">
    <!-- site-name -->
    <div class="flex flex-row w-full bg-blue-500 p-8 justify-center md:rounded-t-xl">
      <h1 class="text-bold text-2xl text-white font-bold tracking-wider">Site Name  Task-List</h1>
    </div>
    <!-- date -->
    <div class="flex flex-row p-5 border-b-2 space-x-8 w-full md:justify-start justify-center">
      <h2 class="text-xl font-semibold tracking-wider text-black">Inspection Date :</h2>
        <h3 class="text-xl font-semibold tracking-wider text-black">02 April 2024</h3>
    </div>
    <!-- area -->
    <div class="flex md:flex-row flex-col w-full md:p-5 p-2 border-b-2 space-y-5 pb-8">
      <div class="flex items-center space-x-4 md:w-4/12">
        <h1 class="font-medium text-black tracking-wider text-xl">Area Name</h1>
        <div class="dropdown dropdown-bottom ">
            <div tabindex="0" role="button " 
            class="btn btn-ghost m-1 bg-white  hover:btn-primary">
            <svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.011 512.011" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </g></svg></div>
            <ul tabindex="0" class="dropdown-content menu bg-gray-200 z-[1] w-52 p-2 shadow text-black">
              <li><a>Mbare</a></li>
              <li><a>Kambuzuma</a></li>
              <li><a>Norton</a></li>
              <li><a>Chinhoyi</a></li>
            </ul>
          </div>
      </div>
      <div class="flex flex-row w-full justify-between ">
        <div class="flex space-x-10">
            <h1 class="font-medium text-black tracking-wider text-xl  hidden md:block">Completed</h1>
            <input type="checkbox" class="toggle toggle-info  hidden md:block" checked="checked" />
          </div>
          <div class="flex space-x-10 ">
            <h1 class="font-medium text-black tracking-wider text-xl hidden md:block">Pass</h1>
            <input type="checkbox" class="toggle toggle-info hidden md:block" checked="checked" />
          </div>
      </div>
    </div>
    <!-- labels -->
    <div class="flex flex-row w-full border-b-4  ">
      <div class="flex flex-col md:border-r-2 md:w-3/12 items-center md:p-5 p-3">
        <label class="text-black md:text-xl text-lg tracking-wide font-semibold">Item Description</label>
      </div>
      <div class="border-r-2 w-3/12 md:p-5 p-3 hidden md:block text-center">
        <label class="text-black font-semibold md:text-xl text-lg tracking-wide">Area Name</label>
      </div>
      <div class="border-r-2 w-3/12 md:p-5 p-3 hidden md:block text-center">
        <label class="text-black md:text-xl text-lg tracking-wide font-semibold">Completed</label>
      </div>
      <div class="border-r-2 w-3/12 md:p-5 p-3 hidden md:block text-center">
        <label class="text-black md:text-xl text-lg tracking-wide font-semibold">Results</label>
      </div>
      <div class="w-3/12 md:p-5 p-3 hidden md:block text-center">
        <label class="text-black md:text-xl text-lg tracking-wide font-semibold">Cycle</label>
      </div>
    </div>
    <!-- content -->
    <div class="relative flex md:flex-row flex-col w-full pl-3">
        <div class="flex md:w-3/12 md:p-4 justify-start">
            <h1 class="tracking-widest md:text-xl text-lg text-black">
                <span class="font-bold md:invisible ">Item:</span>  Floors
            </h1>
        </div>
        <div class="flex md:w-3/12 md:p-4 ">
            <h1 class="tracking-widest md:text-xl text-lg text-black">
               <span class="font-bold md:invisible">Area:</span> Mixing
            </h1>
        </div>
        <div class="flex md:w-3/12 md:p-4  ">
            <h1 class="tracking-widest md:text-xl text-lg text-black">
                <span class="font-bold md:invisible">Complete:</span>  Yes
            </h1>
        </div>
        <div class="flex md:w-3/12 md:p-4 ">
            <h1 class="tracking-widest md:text-xl text-lg text-black">
                <span class="font-bold md:invisible">Result:</span>  Pass
            </h1>
        </div>
        <div class="flex md:w-3/12 md:p-4">
            <h1 class="tracking-widest md:text-xl text-lg text-black">
                <span class="font-bold md:invisible">Cycle:</span>  lorem
            </h1>
        </div>
        <div class="absolute right-0 bottom-8 md:hidden">
            <svg fill="#000000" height="80px" width="80px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.011 512.011" xml:space="preserve" transform="rotate(270)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </g></svg>
        </div>
    </div>
</div>
