<!-- 1st background -->
<div class="flex flex-row w-full bg-slate-300 relative h-[400px]">
    <!-- btn -->
    <div class="flex flex-row absolute w-full justify-between bottom-24 px-3  ">
        <svg
        class="h-20 w-20"
        height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00512" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.024"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#2D2D2D;" d="M256,0C114.608,0,0,114.608,0,256c0,141.376,114.608,256,256,256s256-114.624,256-256 C512,114.608,397.392,0,256,0z"></path> <g style="opacity:0.2;"> <polygon points="230.656,111.936 394.016,272 230.656,432.064 181.856,382.096 294.208,272 181.856,161.904 "></polygon> </g> <polygon style="fill:#FFFFFF;" points="214.656,95.936 378.016,256 214.656,416.064 165.856,366.096 278.208,256 165.856,145.904 "></polygon> </g></svg>
        <svg 
        class="h-20 w-20"
        height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00512"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.024"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#2D2D2D;" d="M256,0C114.608,0,0,114.608,0,256c0,141.376,114.608,256,256,256s256-114.624,256-256 C512,114.608,397.392,0,256,0z"></path> <g style="opacity:0.2;"> <polygon points="230.656,111.936 394.016,272 230.656,432.064 181.856,382.096 294.208,272 181.856,161.904 "></polygon> </g> <polygon style="fill:#FFFFFF;" points="214.656,95.936 378.016,256 214.656,416.064 165.856,366.096 278.208,256 165.856,145.904 "></polygon> </g></svg>   
    </div>    
   <!-- card -->
            <div class="absolute bg-white md:block hidden shadow-2xl w-5/12 h-[360px] top-[50px] left-24 sm: ">
        <div class="flex flex-col p-12 space-y-10 w-full h-[360px]">
            <h1 class="flex flex-row text-5xl font-bold text-black w-12/12 ">
                Create a life-changing fitness plans</h1>
            <h1 class=" text-2xl text-black w-10/12 lg:block hidden">
                Gain Muscle and lose weight with the help of <br> a customizable workout routine and live <br> coaching tips</h1>
        </div>
    </div>
</div>
 

   <div class="flex flex-col md:w-6/12 sm:w-full  ">
    <!-- carosel-page-1 -->
    <div class="carousel w-full">
      <div id="item1" class="carousel-item w-full">
        <div class="flex flex-col space-y-5 w-full">
          <img src="assets/images/image-computer.png" alt="">         
        </div>
      </div>
      <div id="item2" class="carousel-item w-full">
        <div class="flex flex-col space-y-5 w-full">
          <img src="assets/images/lostphone.png" alt="">         
        </div>
      </div>
      <div id="item3" class="carousel-item w-full">
        <div class="flex flex-col space-y-5 w-full">
          <img src="assets/images/image-computer.png" alt="">         
        </div>
      </div>
      <div id="item4" class="carousel-item w-full">
        <div class="flex flex-col space-y-5 w-full">
          <img src="assets/images/image-computer.png" alt="">         
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-2 py-2">
      <a href="#item1" class="btn btn-xs">1</a>
      <a href="#item2" class="btn btn-xs">2</a>
      <a href="#item3" class="btn btn-xs">3</a>
      <a href="#item4" class="btn btn-xs">4</a>
    </div> 
  </div>  