<div class="relative flex flex-col w-10/12 bg-white mx-auto my-8 rounded-t-2xl shadow-2xl">
    <div class="flex flex-row bg-blue-500 p-2 justify-between rounded-t-2xl">
        <h1 class="text-white font-bold tracking-wider text-xl">iClean </h1>
        <svg 
        class="h-8"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6C12.5523 6 13 5.55228 13 5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg> 
    </div>
    <div class="flex flex-row border-b border-gray-400 items-center pl-2">
        <div class="flex w-3/12 ">Default View</div>
        <div class="flex w-2/12">
             <label class="label cursor-pointer">
                  <input type="radio" name="radio-10" class="radio checked:bg-blue-500 mr-2 " checked="checked" />
                <span class="label-text">National</span>
            </label>
        </div>
        <div class="flex w-2/12">
             <label class="label cursor-pointer">
                  <input type="radio" name="radio-10" class="radio checked:bg-blue-500 mr-2 " checked="checked" />
                <span class="label-text">Regional</span>
            </label>
        </div>
        <div class="flex w-2/12">
             <label class="label cursor-pointer">
                  <input type="radio" name="radio-10" class="radio checked:bg-blue-500 mr-2 " checked="checked" />
                <span class="label-text">Divison</span>
            </label>
        </div>
        <div class="flex w-2/12">
             <label class="label cursor-pointer">
                  <input type="radio" name="radio-10" class="radio checked:bg-blue-500 mr-2 " checked="checked" />
                <span class="label-text">All Sites</span>
            </label>
        </div>
        
    </div>
    <div class="flex flex-row items-center pl-2">
        <div class="flex w-2/12">Default Region</div>
        <div class="flex w-4/12">
            <select class="select w-full max-w-xs">
                <option disabled selected>Select</option>
                <option>Han Solo</option>
                <option>Greedo</option>
              </select>
        </div>
    </div>
    <div class="flex flex-row items-center pl-2">
        <div class="flex w-2/12">Default Client</div>
        <div class="flex w-4/12">
          <select class="select w-full max-w-xs">
                    <option disabled selected>Select</option>
                    <option>Han Solo</option>
                    <option>Greedo</option>
          </select>
        </div>
    </div>
    <div class="absolute bottom-[339px] flex flex-row justify-center w-full">
        <img 
        class="h-24 w-24 rounded-full border-2 border-blue-500"
        src="assets/images/white-dude-02.webp" alt="">
    </div>
    
    
</div>